<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Account Settings</title>
    <link rel="stylesheet" type="text/css" href="profile_page.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">A-CHAT</div>
            <div class="avatar"><img src="image/img_avatar.png" alt="Avatar"></div>
            <ul>
                <li><a class="active" href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="chat.html">My Chats</a></li>
                <li><a href="/logout">Logout</a></li><!--must add logout function-->
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="profile_contents">
            <ul>
                <li><a href="profile_settings">Profile Settings</a></li>
                <li><a href="account_settings">Account Settings</a></li>  
                <li><a href="profile">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        <div class="account_settings">
            <h2>Account Settings</h2><hr class="title-line" width="12%">
            <form class="account_settings_form" method="POST" onsubmit="return usernameValidation()" name="usernameForm">
                <div class="setting-title"><b>CHANGE USERNAME</b></div><hr class="title-line" width="8%">
                <div class="input-account-settings">    
                    <label for="new-username">
                        <b>New Username</b>
                    </label>
                    <input id="input-new-username" type="text" name="new-username" placeholder="Should between 6 to 12 characters">
                    <div id="username_error" class="val_error"></div>
                    <button type="submit">Update Username</button>
                </div>
            </form>
            <form class="account_settings_form" method="POST" onsubmit="return passwordValidation()" name="passwordForm">
                <div class="setting-title"><b>CHANGE PASSWORD</b></div><hr class="title-line" width="8%">
                <div class="input-account-settings"> 
                    <label for="current-password">
                        <b>Current Password</b>
                    </label>
                    <input id="input-current-password" type="password" name="current-password" placeholder="Enter your current password">
                    <div id="current_password_error" class="val_error"></div>
                </div>
                <div class="input-account-settings"> 
                    <label for="new-password">
                        <b>New Password</b>
                    </label>
                    <input id="input-new-password" type="password" name="new-password" placeholder="Should between 6 to 16 characters">
                    <div id="password_error" class="val_error"></div>
                </div>
                <div class="input-account-settings"> 
                    <label for="repeat-new-password">
                        <b>Re-type New Password</b>
                    </label>
                    <input id="input-repeat-new-password" type="password" name="repeat-new-password" placeholder="Should between 6 to 16 characters">
                    <div id="password_error2" class="val_error"></div>
                </div>
                <div class="input-account-settings"> 
                <button type="submit">Update Password</button>
                </div>
            </form>
        </div>
    </div>
    <script>

        var username = document.getElementById('input-new-username');
        var current_password = document.getElementById('input-current-password');
        var password = document.getElementById('input-new-password');
        var password_confirmation = document.getElementById('input-repeat-new-password');

        var current_password_error = document.getElementById('current_password_error');
        var password_error = document.getElementById('password_error');
        var password_error2 = document.getElementById('password_error2');

        function passwordValidation() {
            var current_password_check = current_password_validation(password, 6, 16);
            var password_check = password_validation(password, 6, 16);
            var password_retype_check = password_retype_validation(password, password_confirmation);
            
            if(current_password_check == false || password_check == false || password_retype_check == false) {
                return false;
            }
            else{ 
                return true;
            }
        }

        function usernameValidation() {
            var username_check = username_validation(username, 6, 12);
            
            if(username_check == false) {
                return false;
            }
            else{ 
                return true;
            }
        }

        function username_validation(username, min_num, max_num) {
            var username_length = username.value.length;
            if(username.value == "") {
                username_error.innerHTML = "Username is required";
                username_error.style.color = "#FF0000";
                username.style.border = "3px solid red";
                return false;
            }
            else if(username_length < min_num || username_length > max_num){
                username_error.innerHTML = "Username should contain " + min_num + " to " + max_num + " characters";
                username_error.style.color = "#FF0000";
                username.style.border = "3px solid red";
                return false;
            }
            else{
                username_error.innerHTML = "";
                username.style.border = "2px solid black";
                return true;
            }
        }


         function current_password_validation(password, min_num, max_num) {
            var current_password_length = current_password.value.length;
            if(password.value == "") {
                current_password_error.innerHTML = "Current password is required";
                current_password_error.style.color = "#FF0000";
                current_password.style.border = "3px solid red";
                return false;
            }
            else if(password_length < min_num || password_length > max_num){
                current_password_error.innerHTML = "Password should contain " + min_num + " to " + max_num + " characters";
                current_password_error.style.color = "#FF0000";
                current_password.style.border = "3px solid red";
                return false;
            }
            else{
                current_password_error.innerHTML = "";
                current_password.style.border = "2px solid black";
                return true;
            }
        }
        
        function password_validation(password, min_num, max_num) {
            var password_length = password.value.length;
            if(password.value == "") {
                password_error.innerHTML = "New password is required";
                password_error.style.color = "#FF0000";
                password.style.border = "3px solid red";
                return false;
            }
            else if(password_length < min_num || password_length > max_num){
                password_error.innerHTML = "Password should contain " + min_num + " to " + max_num + " characters";
                password_error.style.color = "#FF0000";
                password.style.border = "3px solid red";
                return false;
            }
            else{
                password_error.innerHTML = "";
                password.style.border = "2px solid black";
                return true;
            }
        }

        function password_retype_validation(password, password_confirmation){
            if(password.value != password_confirmation.value){
                password_error2.innerHTML = "Passwords do not match";
                password_error2.style.color = "#FF0000";
                password.style.border = "3px solid red";
                password_confirmation.style.border = "3px solid red";
                return false;
            }
            else if(password_confirmation.value == ""){
                password_error2.innerHTML = "Re-type password";
                password_error2.style.color = "#FF0000";
                password_confirmation.style.border = "3px solid red";
                return false;
            }
            else{
                password_error2.innerHTML = "";
                password_confirmation.style.border = "2px solid black";
                return true;
            }
        }

    </script>
</body>
</html>