body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(image/regpage_background.jpg);
    
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}
nav .avatar {
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 1);
    border: 4px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    transition: .3s;
}
nav .avatar img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
nav .logo {
    padding: 22px 20px;
    float: left;
    color: #151515;
    font-size: 24px;
    height: 80px;
    transition: .3s;
}
nav.black .logo {
    color: #fff;
}
nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;     
}
nav ul li {
    list-style: none;
}
nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: .3s;
}
nav.black ul li a {
    color: #fff;
}
nav ul li a:focus {
    outline: none;
}
nav ul li a:active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
}
section.sec1 {
    width: 100%;
    height: 100vh;
    background: url(image/regpage_background.jpg);
    background-size: cover;
    background-position: center;
}
h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#mario-chat{
    max-width: 400px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.3);
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}
.topic {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    border: 2px solid rgba(0, 0, 0, 1);
}
.upper-bar {
    top: 15%;
}
.upper-bar .main-name {
    position: absolute;
    float: left;
    left: 4%;
    top: 2%;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
    font-size: 20px;
}
.content {
    display: releative;
    margin-top: 80px;
    top: 40%;
    left: 30%;
}
.content input[type=submit] {
    float: right;
    margin-top: 10px;
    padding: 10px 15px;
    color: #DAA520;
    background-color:  rgba(0, 0, 0, 1);
    text-transform: uppercase;
    border-color: #DAA520;
    font-weight: bold;
}
.content input[type=text]{
    display: block;
    resize:none;
    width: 100%;
    padding: 15px 0;
    border-radius: 1px;
    border-color: #DAA520;
    background-color: rgba(255, 255, 255, 0.5);
}