<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="hp.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(window).on('scroll', function() {
            if($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })
        $(document).ready(function() {
            $(".new-topic-btn").on('click', function(){
                $(".cover").fadeIn('slow');
                $(".popup").fadeIn('slow');
            });
            $(".cover").on('click', function(){
                $(".cover").fadeOut('slow');
                $(".popup").fadeOut('slow');
            });
            $(".popup-cancel-btn").on('click', function(){
                $(".cover").fadeOut('slow');
                $(".popup").fadeOut('slow');
            });
        });
    </script>
</head>
<body>
    
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="/homepage">A-CHAT</a></div>
            <div class="avatar"><a href="profile"><img src="image/img_avatar.png" alt="Avatar"></a></div>
            <ul>
                <li><a class="active" href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">My Chats</a></li>
                <li><a href="/logout">Logout</a></li><!--must add logout function-->
            </ul>
        </nav>
    </div>
    <div class="new-topic">
        <button class="new-topic-btn">New Main Topic</button>
        <div class="popup">
            <div class="create-main"></div>
                <form action="/maintopics" method="POST">
                    <p>Enter New Main Name:</p>
                    <div class="input-reg">
                            <input type="text" placeholder="Main Name" name="maintopicname" id="main-topic-name" required>
                            <div id="main-topic-error" class="val_error"></div>
                    </div>
                    <div class="input-reg">
                        <input type="text" placeholder="Meta Tags" name="Tags" id="main-topic-tags" required>
                        <div id="main-topic-error" class="val_error"></div>
                    </div>
                </form>
                <div class="popup-options">
                    <input type="button" href="" class="popup-cancel-btn" value="Cancel" id="popup-cancel-btn">
                    <input type="button" onclick="validityCheck()" value="Create" class="create-topic-button">
                </div>
            </div>
        </div>
    </div>
    <div class="cover"></div>
    <div class="topics">
        <ul id="main-topics-list"></ul>
        <!--
        <div class="mini-box-ans"><a href="/main">MAIN 1</a></div>
            -->
    </div>
    <script>
        var list = document.getElementById("main-topics-list");
        var mainTopicsArray = [];
        
        function addMainTopic(){
            var main_topic_name = document.getElementById('main-topic-name').value;
            var main_topic_link = document.createElement("a");
            var entry = document.createElement("li");
 
            entry.className = "mini-box-ans";
            entry.appendChild(main_topic_link);
            main_topic_link.innerHTML = main_topic_name;
            mainTopicsArray.push(entry.textContent);
            list.appendChild(entry);   
        }
        function validityCheck(){
            var main_topic_name = document.getElementById('main-topic-name').value;
            var main_topic_error = document.getElementById('main-topic-error');
            
            var main_topic_name_check = mainTopicNameCheck(main_topic_name, main_topic_error)
                if(main_topic_name_check == false) {
                    return false;
                }
                else { 
                    addMainTopic();
                    return true;
                }    
            }
              
        function mainTopicNameCheck(main_topic_name, main_topic_error){
            if(main_topic_name == ""){
                main_topic_error.innerHTML = "Main Topic Name is required";
                main_topic_error.style.color = "#FF0000";
                return false;    
            }
            else if(mainTopicsArray.includes(main_topic_name)){
                main_topic_error.innerHTML = "You already entered this topic";
                main_topic_error.style.color = "#FF0000";
                return false;   
            }
            else{
                return true;
            }
        }
    </script>
    <!--
    <div class="sec1"></div>
    <div class="content">
        <p id="messages"></p>
        <input type="text" id="message-input">
        <input type="button" id="submit-message" value="Submit">
        <input type="button" id="submit-image" value="Submit Image">
        <script>
            var submitButton = document.getElementById("submit-message");
            var imageButton = document.getElementById("submit-image");
            var postArray = [];
            function addToArray(){
                var message = document.getElementById("message-input").value; 
                if(message.length == ""){
                    console.log("AAA");
                }
                else{
                    postArray.push(message);
                }
            }
            function addImageToArray(){
                var image = document.getElementById("message-input").value;
                if(image.length == ""){
                    console.log("AAA");
                }
                else{
                postArray.push("<img src=" + image + "></img>");
                }
            }
            function printArray(){
                var posts = "";
                for(i = 0; i < postArray.length; i++){
                    posts += postArray[i] + "<br>";
                }
                document.getElementById("messages").innerHTML = posts;
            }
            function submitClicked() {
                addToArray();
                printArray();
                clearText();
            }
            function imageClicked() {
                addImageToArray();
                printArray();
                clearText();
            }
            
            function clearText() {
                document.getElementById("message-input").value = "";
            }
            submitButton.onclick = submitClicked;
            imageButton.onclick = imageClicked;
        </script>
    </div>
    -->
</body>
</html>