body {
    background-image: url(image/regpage_background.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}
.container {
    position: absolute;
    top: 30%;
    left: 40%;
	margin: auto;
    padding: 15px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 0, 0.1);
    border: 10px solid rgba(0, 0, 0, 1);
}
.input-reg {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 1);
    margin: 1em 0;
    padding: 0; 
}
.input-box input[type=password], input[type=text]{
    position: relative;
    width: 350px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.input-box input[type=password]:focus, input[type=text]:focus{
	box-shadow: 0px 0px 30px;
}

.box-footer {
    position: relative;
    left: 60%;
    text-align: center;
    display: inline
}
.container button {
    font-family: "Roboto", sans-serif;
    font: bold;
    text-transform: uppercase;
    outline: 0;
    background: rgba(0, 0, 0, 1);
    width: 20%;
    border: 0;
    padding: 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
}
.container button:active, .container button:hover{
    background-color: rgba(255, 255, 0, 1);
    color: black;
}