<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Profile Settings</title>
    <link rel="stylesheet" type="text/css" href="profile_page.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="/homepage">A-CHAT</a></div>
            <div class="avatar"><a href="profile"><img src="image/img_avatar.png" alt="Avatar"></a></div>
            <ul>
                <li><a class="active" href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="chat.html">My Chats</a></li>
                <li><a href="/logout">Logout</a></li><!--must add logout function-->
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="profile_contents">
            <ul>
                <li><a href="profile">Profile</a></li>
                <li><a href="profile_settings">Profile Settings</a></li>
                <li><a href="account_settings">Account Settings</a></li>  
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        <div class="profile_about">
            <div class="mini_box_ans">
                <div class="avatar">
                    <img src="image/img_avatar.png" alt="Avatar" width="200" height="200">
                </div>
            </div>
            <div class="mini_box_ans" display>
                <table>
                        <tr>
                            <td>
                                USERNAME:
                            </td>
                        <td>
                            <div id="profile-username" class="username-info"><span class="a"><%= pname %></span></div>
                        </td>
                    </tr>
                </table> 
            </div>
            <div class="mini_box_otr">
                E-Mail:
            </div>
            <div class="mini_box_otr">
                    else..
            </div>
            <div class="mini_box_ans">
                interests:
            </div>
            <div class="mini_box_ans">
                friends:
            </div>
            </div>
        </div>
    </div>

</body>
</html>