<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Profile Settings</title>
    <link rel="stylesheet" type="text/css" href="profile_page.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">A-CHAT</div>
            <div class="avatar"><img src="image/img_avatar.png" alt="Avatar"></div>
            <ul>
                <li><a class="active" href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">My Chats</a></li>
                <li><a href="/logout">Logout</a></li><!--must add logout function-->
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="profile_contents">
            <ul>
                <li><a href="profile_settings.html">Profile Settings</a></li>
                <li><a href="account_settings.html">Account Settings</a></li>  
                <li><a href="profile_about.html">About</a></li>
                <li><a href="profile_contact.html">Contact</a></li>
            </ul>
            <span><p>&copy; 2018</p></span>
        </div>
        <div class="profile_settings">
            <h2>Profile Settings</h2><hr width="12%">
            <img alt="profile_image_holder" src="image/profile_image_sample.png" style="width:2 00px;height:200px;">
            <form class="profile_settings_form" onsubmit="return getContent()" name="profileForm">
                <div class="input-profile-settings">
                    <input type="file" class="file-container">
                </div>
                <div class="input-profile-settings">    
                    <label for="interests">
                        <b>Interests</b><br>
                    </label>
                    <textarea name="textarea-interests" id="textarea-int" class="input-textarea"rows="10" cols="70"></textarea>
                </div>
                <div class="input-profile-settings"> 
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var interests = document.getElementById("textarea-int");
        function getContent(){
        interests.innerHTML = "Hello";
        }
    </script>
</body>
</html>