body {
    margin: 0;
    padding: 0;
    background-image: url(regpage_back.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-box {
    width: 360px;
    height: auto;
    background: #999966;
    margin: 200px 400px 0px 1000px;
}
.top-border {
    padding: 0px 0px 0px 0px; 
    margin: -10px -10px 0px -10px;
    border: 30px solid black;
    background-color: black;
}
.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1px hidden blue;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form message {
    margin: 15px 0 0;
    color: blue;
}
.form message a {
    text-decoration: none;
}
.form button:hover,.form button:active{
    background: #4cff00;
}
.form a:link, a:visited{
    text-decoration: none;
    color: #000000;
}
a:link:active, a:visited:active {
    color: white;
}
.form .register-form {
    display: none;
}
